:root {
    --green: #2DA800;
    --white: #fff;
}
.dash-card--groups {
}

/* Header */
.dash-card--groups .card-header { 
    display: flex;
    justify-content: space-between;
}
.dash-card--groups .card-header .add-group {
    align-items: center;
    background-color: var(--green);
    border-radius: 999px;
    display: flex;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
    font-size: 2rem;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    width: 32px;
}

/* Search */
.dash-card--groups .card-body .search-container form {
    display: flex;
    height: 40px;
    margin-bottom: 20px;;
}
.dash-card--groups .card-body .search-container input {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px 0 0 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.4);
    height: 100%;
}
.dash-card--groups .card-body .search-container button {
    background-color: var(--green);
    border-radius:  0 8px 8px 0;
    color: var(--white);
    font-size: 12px;
    font-weight: 800;
    gap: 8px;
    justify-content: center;
    letter-spacing: -0.02em;
    line-height: 16px;
    padding: 12px 20px;
    width: 83px;
    height: 100%;
}


/* Coach */
.dash-card--groups .card-body .coach {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}
.dash-card--groups .card-body .coach span {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2em;
    color: rgba(0, 0, 0, 0.3);
}
.dash-card--groups .card-body .coach h2 {
    font-family: 'Poppins';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}