:root {
    --green: #2DA800;
}
.dash-card--groups {
}

.dash-card--groups .card-header { 
    display: flex;
    justify-content: space-between;
}
.dash-card--groups .card-header .add-group {
    align-items: center;
    background-color: var(--green);
    border-radius: 999px;
    display: flex;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
    font-size: 2rem;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    width: 32px;
}