:root {
    --green: #2DA800;
    --white: #ffffff;
    --navy: #3F729B;
    --light-gray: #D9D9D9;

    --left-border: 1px solid var(--light-gray);
}
/* .dash-card--groups {
} */

/* Header */
.dash-card--groups .card-header {
    display: flex;
    justify-content: space-between;
}
.dash-card--groups .card-header .add-group {
    align-items: center;
    background-color: var(--green);
    border-radius: 999px;
    display: flex;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
    font-size: 2rem;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    width: 32px;
}

/* Search */
.dash-card--groups .card-body .search-container form {
    display: flex;
    height: 40px;
    margin-bottom: 20px;;
}
.dash-card--groups .card-body .search-container input {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px 0 0 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.4);
    height: 100%;
}
.dash-card--groups .card-body .search-container button {
    background-color: var(--green);
    border-radius:  0 8px 8px 0;
    color: var(--white);
    font-size: 12px;
    font-weight: 800;
    gap: 8px;
    justify-content: center;
    letter-spacing: -0.02em;
    line-height: 16px;
    padding: 12px 20px;
    width: 83px;
    height: 100%;
}


/* Coach */
.dash-card--groups .card-body .coach {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-overflow: ellipsis;
}

.dash-card--groups .card-body .coach span {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2em;
    color: rgba(0, 0, 0, 0.3);
}
.dash-card--groups .card-body .coach h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}

/* filter */
.dash-card--groups .typeahead__container .input-height {
    box-sizing: border-box;
    background: var(--white);
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.dash-card--groups .typeahead__container.result .typeahead__list {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 10px;
    padding: 10px 0;
    background: var(--white);
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

/* single item */
.dash-card--groups .typeahead__list > li {
    border: 0;
    border-left: var(--left-border);
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    letter-spacing: -0.02em;
    line-height: 16px;
    margin: 8px 12px;
    position: relative;
}

li.typeahead__item.typeahead__group-contacts > a > span > span{
    display: none;
}

/* groups */
.dash-card--groups .group {
    border-left: var(--left-border);
    margin: 8px 0;
    padding: 0 0 0 12px;
    display: flex;
    align-items: flex-start;
    gap: .2rem;
}
.dash-card--groups .group .text {
    flex-grow: 1;
}
.dash-card--groups .group .fi-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;
    background: var(--green);
    color: var(--white);
    border-radius: 8px;
}

.dash-card--groups .member__name,
.dash-card--groups .group h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    text-overflow: ellipsis;
}
.dash-card--groups .member__role,
.dash-card--groups .group__location,
.dash-card--groups .group .location {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
}
.dash-card--groups #group .group__church-health .health-item {
    cursor: default;
}


/* pagination */

.dash-card--groups .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--light-gray);
    font-size: .7rem;
}

.dash-card--groups .pagination .pagination-item-prev {
    width: 10px;
    height: 10px;
    background: inherit;
    transform: rotate(45deg);
    border-bottom: 2px solid var(--light-gray);
    border-left: 2px solid var(--light-gray);
}
.dash-card--groups .pagination .numbers {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.dash-card--groups .pagination .active {
    background: var(--navy);
    color: var(--white);
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}
.dash-card--groups .pagination .pagination-item-next {
    width: 10px;
    height: 10px;
    background: inherit;
    transform: rotate(45deg);
    border-top: 2px solid var(--light-gray);
    border-right: 2px solid var(--light-gray);
}



/* members */
.dash-card--groups .group__breadcrumbs {
    font-size: .7rem;
}
.dash-card--groups .group-profile-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-card--groups .group-profile-btn .button,
.dash-card--groups .group-profile-btn .button:hover {
    background: var(--green);
    border-radius: 8px;
    color: var(--white);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 16px;
    padding: 12px 20px;
    margin-bottom: 2rem;
}
.dash-card--groups .member {
    border-left: var(--left-border);
    margin: 8px 0;
    padding: 0 0 0 12px;
    display: flex;
}

.dash-card--groups .member .text {
    flex-grow: 1;
}
.dash-card--groups .member .button {
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
}

.dash-card--groups .group__church-health,
.dash-card--groups .group__members h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.dash-card--groups .group__church-health h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #373737;
    margin-bottom: 2rem;
}
.dash-card--groups .member__role {
    text-transform: capitalize;
}

.dash-card--groups .group__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}




/* search results */
.dash-card--groups .result-count {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: var(--green);
    padding: 12px;
    border-radius: 8px;
    margin: 1rem 0;
}

.dash-card--groups .search-container .group {
    border-color: var(--green);
}
